.banner {
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 155px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .text-holder{
    	padding-left: 50px;
    	color: $white;    	
    }
}
