.banner {
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 155px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
     @include media('<tablet') {
    		padding-top: 56px;	
     
     }
    			
    .text-holder{
    	padding-left: 32px;
    	color: $white;    	
    	padding-top: 30px;	
    }
    .text-inner{
    	line-height: 	1.1;
    	max-width: 545px;
    	margin-bottom: 40px;	
    }
}

