.info-block {
  position: relative;
  background-image: url('../images/bg7.png'), url('../images/bg7.png');
  background-position: 0 0, 0 110%;
  background-repeat: no-repeat;
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 32%;
    left: 85%;
    width: 374px;
    height: 692px;
    transform: rotate(180deg);
    background-image: url('../images/bg7.png');
    background-position: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
      @include media('<desktop') {
          left: 70%;
        }
  }
  .row {
    margin-bottom: 60px;
    @media screen and (max-width: 991px) {
          margin-bottom: 20px;
        }
    &:last-child {
      margin-bottom: 165px;
       @media screen and (max-width: 991px) {
          margin-bottom: 20px;
        }
    }
  }
  h2 {
    text-transform: uppercase;
    color: $blue;
    letter-spacing: 3px;
    margin-bottom: 40px;
          @include media('<tablet') {
          margin-bottom: 15px;
        }
  }
  h3 {
    font-size: 32px;
    text-transform: capitalize;
    margin-bottom: 10px;
    @include media('<tablet') {
          font-size: 20px;
        }
  }
  h4 {
    margin-bottom: 5px;
    @include media('<tablet') {
          font-size: 18px;
        }
  }
  .text-section {
    margin-bottom: 60px;
      @include media('<tablet') {
        margin-bottom: 15px;
    }
  }
  .left-side-text{
    padding: 45px 60px 0 0;
    @include media('<tablet') {
          padding: 25px 25px 0 0;
        }
    .service-list {
      @include media('<tablet') {
          margin-bottom: 15px;
        }
    }
  }
  .right-side-text {
    padding-left: 85px;
        @media screen and (max-width: 991px) {
          padding-left: 0;
          margin-top: 30px;
        }
    h3 {
      margin-bottom: 15px;
    }
    .service-list {
      margin: 0;
      margin-bottom: 25px;
        @media screen and (max-width: 991px) {
          margin-bottom: 15px;
        }
    }
  }
  .service-list {
    margin-top: 15px;
    padding-left: 17px;
    li {
      position: relative;
      list-style-type: none;
      margin-bottom: 3px;
      &:before {
        content: " ";
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/triangle.svg);
        width: 9px;
        height: 9px;
        margin-left: -17px;
      }
    }
  }
  .info-img-box {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    @media screen and (max-width: 991px) {
      width: 100%;
      height: 0;
      padding-bottom: 50%;
      background-repeat: no-repeat;
    }
  }
}
