// Typography
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {}

h1,
.h1 {
    color: $white;
    margin: 0 0 20px;
    @include media('<desktop') {
        font-size: 50px;
    }
    @include media('<tablet') {
        font-size: 38px;
    }
}

h2,
.h2 {}

h3,
.h3 {
    margin: 0 0 30px;
    line-height: 1;
    color: $blue;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
}

h4,
.h4 {}

h5,
.h5 {
	letter-spacing: 2px;
	margin: 0 0 2px;
	line-height: 1;	
}

h6,
.h6 {
	line-height: 1;	
	letter-spacing: 2px;
		margin: 0 0 15px;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.wrap {
    display: block;
}
